<div class="container">
  <h2>My Page</h2>


  <div><%= @customer.name %></div>
    
  <div><%= @customer.email %></div>
    
  <div><%= @customer.birthday %></div>
    
  <div><%= @customer.sex %></div>


<div><%= link_to '編集する',  information_edit_customer_path(current_customer), class: "btn btn-success" %></div>

</div>