<div class="container">
  <h2>REVIEW LIST</h2>
  
  <div class="row"> 
    <% @cosmetics.each do |cosmetic| %>
    
    <div class="col-md-2">
      <div>
        <%= link_to cosmetic_path(cosmetic.id) do %>
          <% if cosmetic.image.attached? %>
            <%= image_tag cosmetic.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
      </div>
      
      <div>
        <div id="star-rate<%= cosmetic.id %>"></div>
          <script>
          $('#star-rate<%= cosmetic.id %>').empty();
          var elem = document.getElementById('star-rate<%= cosmetic.id %>');
          var opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          readOnly: true,
          score: <%= cosmetic.star %>,
          };
          raty(elem,opt);
          </script>
      </div> 
    </div>
    <% end %>
   </div>
  
</div>
