<div class="container">
  <h2>REVIEW LIST</h2>
  
    <% @cosmetics.each do |cosmetic| %>
      <div>
        <%= link_to cosmetic_path(cosmetic.id) do %>
          <% if cosmetic.image.attached? %>
            <%= image_tag cosmetic.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
      </div>
      
      <div>
        <div id="star-rate<%= cosmetic.id %>"> </div>
          <script>
          $('#star-rate<%= cosmetic.id %>').empty();
          var elem = document.getElementById('star-rate<%= cosmetic.id %>');
          var opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          readOnly: true,
          score: <%= cosmetic.star %>,
  };
  raty(elem,opt);
    
          </script>
      </div>    
    <% end %>
   <%= form_with url: search_cosmetics_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <%= f.submit "検索" %>
    <% end %>   
</div>
