<div class="container">
    
  <div class="row">
    <h2 class="table-active">REVIEW LIST</h2>
  </div>
  
  <%= form_tag cosmetics_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :tagname, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
  
  <div class="row">
    <% @cosmetics.each do |cosmetic| %>
    
    <div class="col-md-2">
      <div>
        <%= link_to cosmetic_path(cosmetic.id) do %>
          <% if cosmetic.image.attached? %>
            <%= image_tag cosmetic.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
      </div>
        
      <div>
        <% cosmetic.tags.each do |tag| %>
          <%= tag.tagname %>
        <% end %>
      </div>
        
      <div>
        <div id="star-rate<%= cosmetic.id %>"></div>
          <script>
          $('#star-rate<%= cosmetic.id %>').empty();
          var elem = document.getElementById('star-rate<%= cosmetic.id %>');
          var opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          readOnly: true,
          score: <%= cosmetic.star %>,
          };
          raty(elem,opt);
          </script>
      </div> 
    </div>
    <% end %>
   </div>
  
</div>
