<div class="container">
  <h2>Cosmetic</h2>
        
    <div>
      <% if @cosmetic.image.attached? %>
        <%= image_tag @cosmetic.image, size: "350x350" %>
      <% else %>
        <%= image_tag 'no_image', size: "350x350" %>
      <% end %>
    </div>
    
    <div><%= @cosmetic.text %></div>
    
    <div>
      <% if @cosmetic.customer == current_customer %>
        <%= link_to "削除", cosmetic_path(@cosmetic), method: :delete, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
    
  <%= form_with(model:[@cosmetic, @comment], url: cosmetic_comments_path(@cosmetic),  method: :post) do |f| %>
    <%= f.text_area :introduction %>
    <%= f.hidden_field :cosmetic_id, value: @cosmetic.id %>
    <%= f.submit 'コメントする', class: "btn btn-sm btn-success" %>
  <% end %>

  <div>コメント一覧</div>
  
  <% @comments.each do |comment| %>
    
    <div><%= comment.introduction %></div>
    
  <% end %> 
  
  <div><%= link_to '投稿一覧', cosmetics_path %></div>
</div>
