<div class="container">
  <div class="row">
    <h2 class="table-active">Cosmetic</h2>
   </div>
        
    <div>
      <% if @cosmetic.image.attached? %>
        <%= image_tag @cosmetic.image, width: "200" %>
      <% else %>
        <%= image_tag 'no_image', width: "200" %>
      <% end %>
    </div>
    
    <div>
      <div id= "star-rate<%= @cosmetic.id %>"></div>
        <script>
          $('#star-rate<%= @cosmetic.id %>').empty();
          var elem = document.getElementById('star-rate<%= @cosmetic.id %>');
          var opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          readOnly: true,
          score: <%= @cosmetic.star %>,
          };
          raty(elem,opt);
        </script>
    </div>
    
    <div><%= @cosmetic.text %></div>
    
    <div>
      <% @cosmetic.tags.each do |tag| %>
        <%= tag.tagname %>
      <% end %>
    </div>
    
    <div>
      <% if @cosmetic.customer == current_customer %>
        <%= link_to "削除", cosmetic_path(@cosmetic), method: :delete, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
    
  <%= form_with(model:[@cosmetic, @comment], url: cosmetic_comments_path(@cosmetic),  method: :post) do |f| %>
    <%= f.text_area :introduction %>
    <%= f.hidden_field :cosmetic_id, value: @cosmetic.id %>
    <%= f.submit 'コメントする', class: "btn btn-sm btn-success" %>
  <% end %>
  
    <div>コメント一覧</div>
    
    <% @comments.each do |comment| %>
    
    <div><%= comment.introduction %></div>
    
    <% end %>
  
  <div><%= link_to '一覧へ戻る', cosmetics_path %></div>
</div>
