
<div class="container">
<div class="row">

<h5 class="table-active">管理者ログイン</h5>
<table class="table table-borderless">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <th><%= f.label :パスワード %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr><br />

</table>
</div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</div>
