<div class="container">
<div class="row">
    <div class="mx-auto">
        <%= link_to 'I HAIRとは',about_path %>
        
        <%= link_to 'REVIEW LIST',cosmetics_path %>
        
        <%= link_to 'MY PAGE',mypage_customer_path %>
    </div>
</div>

<div class="row">
  <div class="mx-auto">
    <%= image_tag 'no_image', size: "200x200" %>
    <%= image_tag 'no_image', size: "200x200" %>
    <%= image_tag 'no_image', size: "200x200" %>
  </div>
</div>

<div>コンセプト</div>
    <h4>CONCEPT</h4>
    <div>ヘアスタイリストとしての経験を、お客様一人ひとりに合った</div>
    <div>ヘアコスメブランドを紹介し、自分らしさ、楽しさを</div>
    <div>価値にして届けていきたい。</div>
    
</div>

