<div class="container">
<div class="row">


<h5 class="table-active">会員詳細</h5>

      <table class="table table-borderless">
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <th>ニックネーム</th>
            <td><%= @customer.name %></td>
          </tr>

          <tr>
            <th>性別</th>
            <td><%= @customer.sex %></td>
          </tr>

          <tr>
            <th>生年月日</th>
            <td><%= @customer.birthday %></td>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>

            <td>
              <%= link_to "編集する",   edit_admin_customer_path(@customer.id), class: 'text-light btn btn-sm btn-success' %>
              <%= link_to '退会する',  admin_withdrawal_customer_path(id: @customer.id), method: :patch, class: "btn btn-sm btn-danger" %>
            </td>
            
      </table>

  </div>
  </div>
