<div class="container">
  
<h2>Log in</h2><br />

<div class="row">
  <div class="table-active">会員の方はこちらからログイン</div>
</div><br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table class="table table-borderless">
  <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <th><%= f.label :パスワード %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>

  <tr>
    <th></th>
    <td><%= f.submit "ログイン", class: "btn btn-md btn-primary col-4" %></td>
  </tr>
  
</table>
<% end %>

<div class="row">
  <div class="table-active">会員登録がお済みでない方</div>
</div>
<div><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: "login" %></div>
<div><%= link_to "こちら",  new_customer_registration_path %>から新規登録を行ってくださいください。</div>

</div>
