<!DOCTYPE html>
<html>
  <head>
    <title>I HAIR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h2 class="nav-item">
            <%= link_to "I HAIR", root_path, class: 'nav-link text-dark' %>
          </h2>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            
            <li class="nav-item">
              <%= link_to "レビュー",  new_cosmetic_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            
            <%= form_with url: search_cosmetics_path, local: true, method: :get do |f| %>
              <%= f.text_field :keyword %>
              <%= f.submit "検索" %>
            <% end %> 
            
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_root_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main class="mb-auto">
    <%= yield %>
    </main>
    
    <footer class="bg-secondary text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
         	<div class="col-md-4">
         	  <p>美容師がお勧めできるヘアコスメレビューサイト</p>
         	</div>
        </div>
      </div> 
    </footer>
    
  </body>
</html>
